@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --bg-primary: rgb(0, 81, 255);
  --bg-primary-ts: rgba(0, 81, 255, 1);
  --bg-light: #e9e9e9;
  --card-light: #fafafa;
  --text-dark: #1f1f1f;
  --text-dark-ts: #1f1f1fdd;
  --text-light: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;

  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family: inherit;
  font-size: 1em;

  background-color: var(--bg-light);
  color: var(--text-dark);
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-dark);
}

a:hover {
  color: var(--text-dark-ts);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.875rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

button,
input,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

section {
  padding: 3rem 0;
}

.text-primary {
  color: var(--bg-primary);
}

.hide {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  max-width: 58.5rem;
  padding: 0 1rem;
  margin: 0 auto;
}

/* ##header */
.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: 2rem;
  font-weight: 600;
}

/* ##hero */
.hero {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  /* background-image: repeating-linear-gradient(0deg, #1f1f1f79, #3333333a), url(../img/2257.jpg); */
  background-image: repeating-linear-gradient(0deg, #4444449f, #44444473), url(../img/bg-hero.jpg);
  /* background-image: linear-gradient(0deg, rgba(0, 204, 255, 0.1), rgba(0, 204, 255, 0.1)), url(../img/cityscape.png); */
  background-attachment: fixed;
  background-position: 0, bottom 12vmin center;
  background-size: cover;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-box {
  width: 100%;
  background: var(--card-light);
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 25%);
  margin-bottom: 1rem;
  overflow: hidden;
}

/* search-box */
.search-box > * {
  height: 65px;
  background: none;
  outline: none;
  border: none;
}

.search-input {
  width: 100%;
  padding: 1.2rem 4rem 1.2rem 1.5rem;
  font-size: 1.4rem;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 1px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: transparent;
}

/* Category */
.search-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}
.cat-radio {
  display: none;
}

.cat-label {
  flex: 1 1 33%;
  display: inline-block;
  padding: 0.5rem;
  border: 2px solid rgba(139, 139, 139, 0.3);
  background: white;
  color: var(--text-dark);
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}
.cat-label > i {
  color: var(--bg-primary);
  font-size: 1.1rem;
}
.cat-label > span {
  display: none;
}

@media (min-width: 525px) {
  .cat-label {
    flex: 1 1 0;
  }
}

@media (min-width: 768px) {
  .cat-label > span {
    display: inline-block;
  }
}

.cat-radio:checked + .cat-label {
  background: var(--bg-primary-ts);
  color: var(--text-light);
}

.cat-radio:checked + .cat-label i {
  color: var(--text-light);
}

/* search-options */
.search-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.search-opt {
  display: none;
}

.options-label {
  display: inline-block;
  padding: 0.6rem 1rem;

  background: #ffffffe6;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 25%);

  border: 2px solid rgba(139, 139, 139, 0.3);

  border-radius: 1rem;

  font-size: 1.2rem;
  color: #a8a8a8;
  white-space: nowrap;

  cursor: pointer;
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;
}

.options-label::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 2px 6px 2px 2px;

  font-family: "Font Awesome 5 Pro";
  font-size: 1em;
  text-align: center;
  font-weight: 800;
  content: "\f067";

  transition: transform 0.3s ease-in-out;
}

.search-opt:checked + .options-label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

.search-opt:checked + .options-label {
  background-color: var(--bg-primary);
  color: #fff;
  transition: all 0.2s;
}

/* ##city sections */
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.card {
  width: 280px;
  display: flex;
  flex: auto;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--card-light);
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  overflow: hidden;
}

.card-content {
  padding: 1.5rem;
  word-wrap: normal;
  word-break: break-word;
  -ms-word-break: break-all;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.card-content > h2 {
  font-size: 2rem;
}

.card-img {
  height: 200px;
  object-fit: cover;
  object-position: center;
  background-color: var(--bg-primary);
}
.card-icon {
  object-fit: scale-down;
}

@media (min-width: 600px) {
  .card-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.weather-title {
  font-size: 2.5rem;
  line-height: 1.5;
}

.temp {
  display: inline-block;
  font-size: 1.8rem;
}

.error {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
}

.error-message {
  text-align: center;
  color: #cc0033;
}

/* ##footer */
.footer {
  height: 50px;
  text-align: center;
}
